In [59]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import*
spark = SparkSession.builder.appName('practise').getOrCreate()
df_pyspark = spark.read.csv('py_details1.csv', header=True, inferSchema=True)
df_pyspark.show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    krish| 31|        10| 30000|
|sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 30000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [78]:
spark

In [60]:
df_pyspark.show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    krish| 31|        10| 30000|
|sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 30000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [61]:
df_pyspark.select('age','name','salary').show()

+---+---------+------+
|age|     name|salary|
+---+---------+------+
| 31|    krish| 30000|
| 30|sudhanshu| 25000|
| 29|    Sunny| 20000|
| 24|     Paul| 30000|
| 21|   Harsha| 15000|
| 23|  Shubham| 18000|
+---+---------+------+

In [62]:
df_pyspark.na.drop().show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    krish| 31|        10| 30000|
|sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 30000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [63]:
df_pyspark.withColumn('experience after two yrs',df_pyspark['experience']+2).show()

+---------+---+----------+------+------------------------+
|     Name|Age|Experience|Salary|experience after two yrs|
+---------+---+----------+------+------------------------+
|    krish| 31|        10| 30000|                      12|
|sudhanshu| 30|         8| 25000|                      10|
|    Sunny| 29|         4| 20000|                       6|
|     Paul| 24|         3| 30000|                       5|
|   Harsha| 21|         1| 15000|                       3|
|  Shubham| 23|         2| 18000|                       4|
+---------+---+----------+------+------------------------+

In [64]:
df_pyspark.drop('age').show()

+---------+----------+------+
|     Name|Experience|Salary|
+---------+----------+------+
|    krish|        10| 30000|
|sudhanshu|         8| 25000|
|    Sunny|         4| 20000|
|     Paul|         3| 30000|
|   Harsha|         1| 15000|
|  Shubham|         2| 18000|
+---------+----------+------+

In [65]:
##renaming the column
df_pyspark.withColumnRenamed('age','age_new').show()

+---------+-------+----------+------+
|     Name|age_new|Experience|Salary|
+---------+-------+----------+------+
|    krish|     31|        10| 30000|
|sudhanshu|     30|         8| 25000|
|    Sunny|     29|         4| 20000|
|     Paul|     24|         3| 30000|
|   Harsha|     21|         1| 15000|
|  Shubham|     23|         2| 18000|
+---------+-------+----------+------+

In [66]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('practise2').getOrCreate()

In [67]:
df_pyspark= spark.read.csv('py_details.csv',header=True,inferSchema=True)
df_pyspark.show()

+----------+---+----------+------+
|      Name|age|experience|salary|
+----------+---+----------+------+
|     krish| 34|        10| 30000|
|sudharshan| 15|         8| 25000|
|     suuny| 25|         4| 20000|
|      paul| 58|         1| 15000|
|    harsha| 55|         5| 18100|
+----------+---+----------+------+

In [68]:
##how is any
df_pyspark.na.drop().show()

+----------+---+----------+------+
|      Name|age|experience|salary|
+----------+---+----------+------+
|     krish| 34|        10| 30000|
|sudharshan| 15|         8| 25000|
|     suuny| 25|         4| 20000|
|      paul| 58|         1| 15000|
|    harsha| 55|         5| 18100|
+----------+---+----------+------+

In [69]:
## threshlold
df_pyspark.na.drop(thresh=2).show()

+----------+---+----------+------+
|      Name|age|experience|salary|
+----------+---+----------+------+
|     krish| 34|        10| 30000|
|sudharshan| 15|         8| 25000|
|     suuny| 25|         4| 20000|
|      paul| 58|         1| 15000|
|    harsha| 55|         5| 18100|
+----------+---+----------+------+

In [70]:
##subset
df_pyspark.na.drop(how='any',subset=['salary']).show()

+----------+---+----------+------+
|      Name|age|experience|salary|
+----------+---+----------+------+
|     krish| 34|        10| 30000|
|sudharshan| 15|         8| 25000|
|     suuny| 25|         4| 20000|
|      paul| 58|         1| 15000|
|    harsha| 55|         5| 18100|
+----------+---+----------+------+

In [71]:
df_pyspark.na.fill('missing values','salary').show()

+----------+---+----------+------+
|      Name|age|experience|salary|
+----------+---+----------+------+
|     krish| 34|        10| 30000|
|sudharshan| 15|         8| 25000|
|     suuny| 25|         4| 20000|
|      paul| 58|         1| 15000|
|    harsha| 55|         5| 18100|
+----------+---+----------+------+

In [72]:
df_pyspark.show()

+----------+---+----------+------+
|      Name|age|experience|salary|
+----------+---+----------+------+
|     krish| 34|        10| 30000|
|sudharshan| 15|         8| 25000|
|     suuny| 25|         4| 20000|
|      paul| 58|         1| 15000|
|    harsha| 55|         5| 18100|
+----------+---+----------+------+

In [73]:
from pyspark.ml.feature import Imputer
Imputer=Imputer(
    inputCols=['Age','Experience','Salary'],
    outputCols=['{}_imputed'.format(c) for c in ['age','Experience','Salary']]
).setStrategy('median')

In [74]:
##filter operation
df_pyspark.filter(~(df_pyspark["salary"]<=20000)).select('name','age').show()

+----------+---+
|      name|age|
+----------+---+
|     krish| 34|
|sudharshan| 15|
+----------+---+

In [75]:
from pyspark.sql import SparkSession
spark= SparkSession.builder.appName('practise2').getOrCreate()
df_pyspark= spark.read.csv('py_details1.csv',header=True,inferSchema=True)

In [76]:
df_pyspark.show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    krish| 31|        10| 30000|
|sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 30000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [77]:
##groupby function
## grouped to find maximum salary 
df_pyspark.groupBy("departments").mean().show()

AnalysisException: Column 'departments' does not exist. Did you mean one of the following? [Experience, Name, Salary, Age];
'Aggregate ['departments], ['departments, avg(Age#1291) AS avg(Age)#1327, avg(Experience#1292) AS avg(Experience)#1328, avg(Salary#1293) AS avg(Salary)#1329]
+- Relation [Name#1290,Age#1291,Experience#1292,Salary#1293] csv

In [ ]:
## totla employess working
df_pyspark.groupBy("departments").min().show()

+-----------+-----------+
|departments|min(salary)|
+-----------+-----------+
|        IOT|       5000|
|    BigData|       2000|
|datascience|       3000|
+-----------+-----------+

In [ ]:
df_pyspark.agg({"name":"count"}).show()

+-----------+
|count(name)|
+-----------+
|         10|
+-----------+

In [ ]:
##mllib exmaples explianed
from pyspark.sql import SparkSession
spark= SparkSession.builder.appName('mlib').getOrCreate()
training =spark.read.csv('py_details1.csv',header=True,inferSchema=True)

In [ ]:
training.show()

+---------+---+----------+------+
|     Name|Age|Experience|Salary|
+---------+---+----------+------+
|    krish| 31|        10| 30000|
|sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 30000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [ ]:
training.columns

['Name', 'Age', 'Experience', 'Salary']

In [ ]:
##vector assembler
from pyspark.ml.feature import VectorAssembler
featureassembler = VectorAssembler(inputCols=['Age','Experience'],outputCol='independentfeatures')
output= featureassembler.transform(training)

In [ ]:
output.show()
output.columns

+---------+---+----------+------+-------------------+
|     Name|Age|Experience|Salary|independentfeatures|
+---------+---+----------+------+-------------------+
|    krish| 31|        10| 30000|        [31.0,10.0]|
|sudhanshu| 30|         8| 25000|         [30.0,8.0]|
|    Sunny| 29|         4| 20000|         [29.0,4.0]|
|     Paul| 24|         3| 30000|         [24.0,3.0]|
|   Harsha| 21|         1| 15000|         [21.0,1.0]|
|  Shubham| 23|         2| 18000|         [23.0,2.0]|
+---------+---+----------+------+-------------------+

['Name', 'Age', 'Experience', 'Salary', 'independentfeatures']

In [ ]:
finalized_data= output.select('independentfeatures','salary')
finalized_data.show()

+-------------------+------+
|independentfeatures|salary|
+-------------------+------+
|        [31.0,10.0]| 30000|
|         [30.0,8.0]| 25000|
|         [29.0,4.0]| 20000|
|         [24.0,3.0]| 30000|
|         [21.0,1.0]| 15000|
|         [23.0,2.0]| 18000|
+-------------------+------+

In [ ]:
from pyspark.ml.regression import LinearRegression
train_data,test_data= finalized_data.randomSplit([0.75,0.25])
regressor= LinearRegression(featuresCol='independentfeatures',labelCol='salary')
regressor= regressor.fit(train_data)

In [ ]:
regressor.coefficients

DenseVector([-2537.5626, 2395.6594])

In [ ]:
regressor.intercept

30611.51079136589

In [ ]:
pred_results= regressor.evaluate(test_data)
pred_results.predictions.show()

+-------------------+------+------------------+
|independentfeatures|salary|        prediction|
+-------------------+------+------------------+
|         [23.0,2.0]| 18000|20000.000000000015|
|         [30.0,8.0]| 25000| 74999.99999999987|
|        [31.0,10.0]| 30000| 99999.99999999981|
+-------------------+------+------------------+

In [128]:
from pyspark.sql import SparkSession
spark= SparkSession.builder.appName('abi').getOrCreate()
abi_pyspark = spark.read.csv('tips.csv',header=True,inferSchema=True)

In [129]:
abi_pyspark

DataFrame[total_bill: double, tip: double, sex: string, smoker: string, day: string, time: string, size: int]

In [137]:
abi_pyspark.orderBy(desc('sex')).select('sex','tip','smoker').show(100)

+----+----+------+
| sex| tip|smoker|
+----+----+------+
|Male|1.66|    No|
|Male| 3.5|    No|
|Male|3.31|    No|
|Male|4.71|    No|
|Male| 2.0|    No|
|Male|3.12|    No|
|Male|1.96|    No|
|Male|3.23|    No|
|Male|1.71|    No|
|Male|1.57|    No|
|Male| 3.0|    No|
|Male|3.92|    No|
|Male|3.71|    No|
|Male|3.35|    No|
|Male|4.08|    No|
|Male|7.58|    No|
|Male|3.18|    No|
|Male|2.34|    No|
|Male| 2.0|    No|
|Male| 2.0|    No|
|Male| 4.3|    No|
|Male|1.45|    No|
|Male| 2.5|    No|
|Male|3.27|    No|
|Male| 3.6|    No|
|Male| 2.0|    No|
|Male|2.31|    No|
|Male| 5.0|    No|
|Male|2.24|    No|
|Male|2.54|    No|
|Male|3.06|    No|
|Male|1.32|    No|
|Male| 5.6|    No|
|Male| 3.0|    No|
|Male| 5.0|    No|
|Male| 6.0|    No|
|Male|2.05|    No|
|Male| 3.0|    No|
|Male| 2.5|    No|
|Male|1.56|    No|
|Male|4.34|    No|
|Male|3.51|    No|
|Male| 3.0|   Yes|
|Male|1.76|   Yes|
|Male|6.73|    No|
|Male|3.21|   Yes|
|Male| 2.0|   Yes|
|Male|1.98|   Yes|
|Male|3.76|   Yes|
|Male|2.64|    No|
|Male|3.15|    No|
|Male|2.01|    No|
|Male|2.09|   Yes|
|Male|1.97|    No|
|Male|1.25|    No|
|Male|3.08|   Yes|
|Male| 4.0|    No|
|Male| 3.0|    No|
|Male|2.71|    No|
|Male| 3.0|   Yes|
|Male| 3.4|    No|
|Male| 5.0|   Yes|
|Male|2.03|    No|
|Male| 2.0|    No|
|Male| 4.0|    No|
|Male|5.85|    No|
|Male| 3.0|    No|
|Male| 3.0|   Yes|
|Male| 3.5|    No|
|Male|4.73|   Yes|
|Male| 4.0|   Yes|
|Male| 1.5|   Yes|
|Male| 3.0|   Yes|
|Male| 1.5|    No|
|Male|1.64|   Yes|
|Male|4.06|   Yes|
|Male|4.29|   Yes|
|Male|3.76|    No|
|Male| 3.0|    No|
|Male| 4.0|    No|
|Male|2.55|    No|
|Male|5.07|    No|
|Male|2.31|    No|
|Male| 2.5|    No|
|Male| 2.0|    No|
|Male|1.48|    No|
|Male|2.18|    No|
|Male| 1.5|    No|
|Male| 2.0|   Yes|
|Male| 6.7|    No|
|Male| 5.0|    No|
|Male|1.73|    No|
|Male| 2.0|    No|
|Male| 2.5|    No|
|Male| 2.0|    No|
|Male|2.74|    No|
|Male| 2.0|    No|
|Male| 2.0|    No|
|Male| 5.0|    No|
|Male| 2.0|    No|
+----+----+------+
only showing top 100 rows